{#
Contao 5 Twig-Template: Liste der Kursveranstaltungen
Erwartete Template-Variablen:
- hasEvents: bool
- events: array of { id, alias, title, dateStart, dateEnd, price, url }
- hasReaderArticle: bool
#}

{% extends "@Contao/frontend_module/_base.html.twig" %}

{% block content %}
    <div class="dc-events-list">
        {# include '@Contao/messages.html.twig' #}
        {% if not hasEvents %}
            <p>Aktuell sind keine Kursveranstaltungen veröffentlicht.</p>
        {% else %}
            {% if not hasJumpTo %}
                <p class="error">Hinweis: In der Modulkonfiguration ist keine Ziel-Seite (Event-Reader) ausgewählt.
                    Links
                    können nicht erzeugt werden.</p>
            {% endif %}
            <ul class="events">
                {% for ev in events %}
                    <li class="event">
                        <h3>{{ ev.title }}</h3>
                        <p>
                            {% if ev.dateStart %}
                                <strong>Beginn:</strong> {{ ev.dateStart }}
                            {% endif %}
                            {% if ev.dateEnd %}
                                &nbsp;–&nbsp;<strong>Ende:</strong> {{ ev.dateEnd }}
                            {% endif %}
                        </p>
                        {% if ev.price %}
                            <p><strong>Preis:</strong> {{ ev.price }}</p>
                        {% endif %}
                        <p>
                            {% if ev.url %}
                                <a href="{{ ev.url }}">Details &amp; Anmeldung</a>
                            {% else %}
                                <span class="muted">Details &amp; Anmeldung (nicht verfügbar)</span>
                            {% endif %}
                        </p>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}
