{% set assets = assets ?? [] %} {# Standardwert setzen, falls assets nicht existiert #}
<h2>Reservierungssystem</h2>

<div class="row">
    <div class="col m12">
        <p>Bitte wähle die gewünschten Ausrüstungsteile aus der Liste. Mit dem Absenden des Formulars, werden die gewählten Teile für Dich vorgemerkt.</p>
        {% if rentalConditions is not empty %}
            {{ rentalConditions|raw }}
        {% endif %}
    </div>
    <div class="col m3">
        {# Form select #}
        <form method="get" id="categorySelectionForm" action="{{ action }}">
            <input type="hidden" name="REQUEST_TOKEN" value="{{ request_token }}">
            <input type="hidden" name="FORM_SUBMIT" value="reservationSelectSubmit" />
            <label for="category">Kategorie auswählen:</label>
            <select name="category" id="category" class="form-control" onchange="this.form.submit();">
                <option value="">-- Bitte auswählen --</option>
                {% for key, label in categories %}
                    <option value="{{ key }}" {% if key == selectedCategory %}selected{% endif %}>
                        {{ label }}
                    </option>
                {% endfor %}
            </select>
        </form>
    </div>
    <div class="col m2">&nbsp;</div>
    <div class="col m7">
        {# Angemeldeter Nutzer #}
        <label for="currentUser">Angemeldeter Benutzer:</label>
        <p>{{ currentUser.userFullName| default('Gast') }}</p>
    </div>
    <div class="col m12">

    </div>
</div>
<div class="row">
    <div class="col m6">
        {# Formular abbrechen #}
        <form method="POST" id="reservationSaveForm" action="{{ action }}">
            <input type="hidden" name="FORM_SUBMIT" value="reservationSubmit" />
            <input type="hidden" name="REQUEST_TOKEN" value="{{ request_token }}">
            <input type="hidden" name="userId" value="{{ currentUser.userId }}">
            <button type="submit" name="action" value="save" class="btn btn-primary">Speichern</button>
            <button type="submit" name="action" value="cancel" class="btn btn-danger">Abbrechen</button>
        </form>
    </div>
    <div class="col m6">
        {# Formular messages #}
        {% if messageSave is defined and messageSave|trim is not empty %}
            <div class="alert-container">
                {{ messageSave|raw }}
            </div>
        {% endif %}
    </div>
    <div class="col m12">
        {# Sessiondaten #}
        {% if storedAssets is not empty %}
            <h3>Vorgemerkte Reservierungen:</h3>
            <ul>
                {% for asset in storedAssets %}
                    <li>{{ asset }}</li>
                {% endfor %}
            </ul>
            <p><strong>Leihgebühr gesamt: {{ totalRentalFee|number_format(2, '.', ',') }} €</strong></p>
        {% else %}
            <p>Es wurden noch keine Reservierungen vorgenommen.</p>
        {% endif %}
    </div>
</div>
<div class="row">
    <form method="POST" id="reservationForm" action="{{ action }}">
    {# Formular Liste   #}
        <div class="col m12">
            {# Button vormerken #}

        </div>
        <div class="col m12">
        {# Liste Checkboxen #}
            <div class="col-md-6">
                <input type="hidden" name="FORM_SUBMIT" value="reservationItems_submit" />
                <input type="hidden" name="REQUEST_TOKEN" value="{{ request_token }}">
                <input type="hidden" name="userId" value="{{ currentUser.userId }}">
                <button type="submit" name="action" value="reserve" class="btn btn-primary">Ausgewählte vormerken</button>
            </div>
            <div class="reservation-assets">
                <h2>Verfügbare Ausrüstungsgegenstände</h2>
                {% if selectedCategory == 'tl_dc_equipment' %}
                    {# Kategorie equipment_types benötigt groupedAssets #}
                    {% if groupedAssets is not empty %}
                        {% for subType, assets in groupedAssets %}
                            <h3>{{ subType }}</h3> {# Überschrift für den Subtype #}
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Inventarnummer</th>
                                    <th>Status</th>
                                    <th>Hersteller</th>
                                    <th>Modell</th>
                                    <th>Farbe</th>
                                    <th>Größe</th>
                                    <th>Status</th>
                                    <th>Leihgebühr</th>
                                    <th>Reservieren</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for asset in assets %}
                                    <tr>

                                        <td>{{ asset.title|default('Keine Daten') }}</td>
                                        <td>{{ asset.status|default('Keine Daten') }}</td>
                                        <td>{{ asset.manufacturer|default('Keine Daten') }}</td>
                                        <td>{{ asset.model|default('Keine Daten') }}</td>
                                        <td>{{ asset.color|default('Keine Daten') }}</td>
                                        <td>{{ asset.size|default('Keine Daten') }}</td>
                                        <td>{{ asset.status|default('Keine Daten') }}</td>
                                        <td>{{ asset.price|default('Keine Daten') }}</td>
                                        <td style="width: 40px;">
                                            <div class="widget widget-checkbox">
                                                {{ reservationCheckboxes[asset.id]|raw }}
                                            </div>
                                            <input type="hidden" name="category" value="{{ asset.category }}">
											<input type="hidden" name="type" value="{{ asset.typeId }}">
											<input type="hidden" name="subType" value="{{ asset.subTypeId }}">
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endfor %}
                    {% else %}
                        <p>Keine Ausrüstung verfügbar.</p>
                    {% endif %}
                {% else %}
                    {# Alle anderen Kategorien arbeiten direkt mit assets #}
                    {% if assets is not empty %}
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                {% if selectedCategory == 'tl_dc_tanks' %}
                                    <th>Inventarnummer</th>
                                    <th>Größe</th>
                                    <th>Status</th>
                                    <th>Leihgebühr</th>
                                    <th>Reservieren</th>
                                {% elseif selectedCategory == 'tl_dc_regulators' %}
                                    <th>Inventarnummer</th>
                                    <th>Hersteller</th>
                                    <th>SN 1. Stufe</th>
                                    <th>Modell 1. Stufe</th>
                                    <th>Modell 2. Stufe (Primär)</th>
                                    <th>Modell 2. Stufe (Sekundär)</th>
                                    <th>Status</th>
                                    <th>Leihgebühr</th>
                                    <th>Reservieren</th>
                                {% endif %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for asset in assets %}
                                <tr>
                                    {% if selectedCategory == 'tl_dc_tanks' %}
                                        <td>{{ asset.title|default('Keine Daten') }}</td>
                                        <td>{{ asset.size|default('Keine Daten') }}</td>
                                        <td>{{ asset.status|default('Keine Daten') }}</td>
                                        <td>{{ asset.price|default('Keine Daten') }}</td>
                                        <td style="width: 40px;">
                                            <div class="widget widget-checkbox">
                                                {{ reservationCheckboxes[asset.id]|raw }}
                                            </div>
                                            <input type="hidden" name="category" value="{{ asset.category }}">
                                        </td>
                                    {% elseif selectedCategory == 'tl_dc_regulators' %}
                                        <td>{{ asset.title|default('Keine Daten') }}</td>
                                        <td>{{ asset.manufacturer|default('Keine Daten') }}</td>
                                        <td>{{ asset.serialNumber1st|default('Keine Daten') }}</td>
                                        <td>{{ asset.regModel1st|default('Keine Daten') }}</td>
                                        <td>{{ asset.regModel2ndPri|default('Keine Daten') }}</td>
                                        <td>{{ asset.regModel2ndSec|default('Keine Daten') }}</td>
                                        <td>{{ asset.status|default('Keine Daten') }}</td>
                                        <td>{{ asset.price|default('Keine Daten') }}</td>
                                        <td style="width: 40px;">
                                            <div class="widget widget-checkbox">
                                                {{ reservationCheckboxes[asset.id]|raw }}
                                                <input type="hidden" name="category" value="{{ asset.category }}">
                                            </div>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>Keine Ausrüstung verfügbar.</p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </form>
    {# Formular Liste ende #}
</div>



